// angular ng-show animations

.animate-show {
  //line-height: 1.1em;
  //height: auto;
  //opacity: 1;
  overflow: hidden;
  transition: all 0.5s ease;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
       -o-transform: translateY(0);
          transform: translateY(0);
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove {
	//line-height: 1.1em;
	//height: auto;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
       -o-transform: translateY(0);
          transform: translateY(0);
	//opacity: 1;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  	 -moz-transition: all ease 0.5s;
  	 	 -o-transition: all ease 0.5s;
  //display: block !important;
}

.animate-show.ng-hide-add,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  //line-height: 0;
  //height: 0;
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
       -o-transform: translateY(10px);
          transform: translateY(10px);
  //opacity: 0;
}