// these queries use paranoida's sass-mediaqueries library
// github.com/paranoida/sass-mediaqueries

// extra large devices ...and smaller
@include mq($max-width: 1200px) {
	body {
		font-size: 1em;
	}

	.about-container {
		.updates {
			width: 60%;
		}
	}
}

// large tablets and desktop
@include mq($max-width: 992px) {
	#calendar-popOver {
		#close-cal {
			left: 80%;
			top: 0;

			i {
				margin: 0;
				padding: 0;
			}
		}

		iframe {
			margin-top: 10%;
		}
	}

	.container.form-container {
		#close-cal {
			i {
				color: $brightRed;
			}
		}

		.time-sect {
			label {
				display: block;
				width: 100%;
			}
		}
	}
}

// large mobile & small tablets
@include mq($max-width: 768px) {
	
}

// small mobile
@include mq($max-width: 480px) {
	body {
		background-size: auto 100vh;
	}

	.ext-link-button {
		a {
			font-size: 0.9em;
		}
	}

	header {
		margin-left: 8%;
		h1 {
			img { // scum logo
				height: auto;
				max-width: 80%;
			}
		}
	}

	// fixing page styles while side menu is open
	#menu-switch:checked ~ .page-wrap {
		margin-right: -200px;
	}

	.about-container {
		.updates {
			margin-bottom: 2%;
			width: 100%;
		}
	}

	.person-container {
		width: 30%;

		.popup {
			a {
				color: $medRed;
			}

			.pop-inside {
				align-items: flex-start;
				align-content: flex-start;
				display: flex;
				flex-wrap: wrap;
				height: 95vh;
				justify-content: flex-start;
				overflow-y: scroll;
				width: 85%;

				.close {
					color: $brightRed;
					margin: 0;
					padding: 0;
					right: 1.1em;
					top: 0.5em;
				}

				.desc-cont {
					max-height: none;
					margin-left: 2%;
				}

				.col {
					width: 100%;
				}

				.profile-img {
					height: 20em;

					img {
						height: auto;
						max-height: auto;
						max-width: 95%;
					}
				}
			}	
		}
	}

	// building req page
	.container.form-container {
		margin-top: 0;
	}
}

// 
@include portrait {
	body {
		background-size: auto 100vh;
	}

	// changes view of popup on tablets 
	// while in portrait view to be mobile-like
	.person-container {
		.popup {
			.pop-inside {
				align-items: flex-start;
				align-content: flex-start;
				display: flex;
				flex-wrap: wrap;
				height: 95vh;
				justify-content: flex-start;
				overflow-y: scroll;
				width: 85%;

				.close {
					color: $brightRed;
					right: 2em;
				}

				.desc-cont {
					max-height: none;
					margin-left: 2%;
				}

				.col {
					width: 100%;
				}

				.profile-img {

					img {
						height: auto;
						max-height: auto;
						max-width: 95%;
					}
				}
			}
		}
	}
}