/* PUSH MENU */
#menu-switch {
	display: none;
}

#menu {
	background-color: #fff;
	height: 100%;
	left: -300px;
	padding: 50px 30px;
	position: fixed;
	top: 0;	
	width: 300px;
	
	-webkit-box-sizing: border-box;
		 -moz-box-sizing: border-box;
					box-sizing: border-box;

	-webkit-transition: all .3s ease-in;
     -moz-transition: all .3s ease-in;
       -o-transition: all .3s ease-in;
          transition: all .3s ease-in;

  text-align: center;
}

#menu .brand {
	color: #ddd;
	font-size: 70px;
	font-weight: 900;
	height: 51px;
	line-height: .6;
}