/* PUSH MENU */
#menu-switch {
	display: none;
}

#menu {
	background-color: rgba(0,0,0,0.6);
	height: 100%;
	left: -300px;
	padding: 50px 30px;
	position: fixed;
	top: 0;	
	width: 300px;
	
	-webkit-box-sizing: border-box;
		 -moz-box-sizing: border-box;
					box-sizing: border-box;

	-webkit-transition: all .3s ease-in;
     -moz-transition: all .3s ease-in;
       -o-transition: all .3s ease-in;
          transition: all .3s ease-in;

  text-align: center;

  .brand {
		color: #ddd;
		font-size: 70px;
		font-weight: 900;
		height: 2em;
		line-height: .6;

		img {
			height: 100%;
			width: auto;
		}
	}

	ul {
		margin-top: 30px;
		padding: 0;

		.line {
			margin: 1% auto;
		}

		li {
			list-style-type: none;

			a {
				color: #eee;
				display: block;
				font-weight: 900;
				letter-spacing: 0.1em;
				line-height: 50px;

				-webkit-transition: all .3s ease;
       		 -moz-transition: all .3s ease;
         		 -o-transition: all .3s ease;
            		transition: all .3s ease;

        text-decoration: none;
        text-transform: uppercase;

        &:hover {
        	letter-spacing: 0.3em;
        }
			}
		}
	}
}

#menu-switch:checked ~ #menu {
	left: 0;
}

/* MAIN PAGE */
// ensure the main content moves over with menu slide

.page-wrap {
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

    -webkit-transition: all .3s ease-in;
       -moz-transition: all .3s ease-in;
         -o-transition: all .3s ease-in;
            transition: all .3s ease-in;
}

#menu-switch:checked ~ .page-wrap {
	margin-left: 300px
}

/* MENU TOGGLE ICON */
#menu-toggle:focus {
	outline: none;
}

#menu-toggle {
	color: #eee;
	cursor: pointer;
	display: inline-block;
	left: 3%;
	position: fixed;
	top: 5%;

  -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
       -o-transition: all .5s ease;
          transition: all .5s ease;

  i {
  	font-size: 2em;
  	padding: 0.5em;
		
		&.fa-bars {
			height: auto;
			opacity: 1;
			width: auto;
		}

  	&.fa-times {
  		opacity: 0;
  		height: 0;
  		width: 0;
  	}
  }
}

#menu-switch:checked ~ .page-wrap #menu-toggle {
	top: 2%;
	left: 200px;

	-webkit-transition-delay: 0.25s;
		 -moz-transition-delay: 0.25s;
			 -o-transition-delay: 0.25s;
					transition-delay: 0.25s;

	.fa-bars {
		height: 0;
		opacity: 0;
		width: 0;

		-webkit-transition-delay: 0.2s;
			 -moz-transition-delay: 0.2s;
				 -o-transition-delay: 0.2s;
						transition-delay: 0.2s;
	}

	.fa-times {
		color: $brightRed;
		height: auto;
		opacity: 1;
		width: auto;

		-webkit-transition-delay: 0.5s;
			 -moz-transition-delay: 0.5s;
				 -o-transition-delay: 0.5s;
						transition-delay: 0.5s;
	}
}