#scoop {
	.line {
		margin-bottom: 0;

		&.thin {
			margin: 0 auto;
		}
	}

	.indent {
		padding-left: 3em;
	}

	.space-before {
		padding-top: 2em;
	}

	.btn {
		padding: 0.25em;
		vertical-align: middle;
		width: auto;
	}

	.article {
		max-width: 90%;

		p {
			width: 100%;
		}
	}

	.img-div {
		margin: 0 auto;
		max-height: 30em;
		max-width: 30em;
		text-align: center;

		&--small {
			max-width: 15em;
		}

		img {
			width: 100%;
		}
	}

	h4 {
		display: flex;
		flex-wrap: wrap;
		font-weight: 300;
		justify-content: space-between;
		margin: 0;
		text-align: left;
		text-transform: lowercase;

		.btn {
			display: inline-block;
			font-size: 0.8em;
			font-weight: 400;
			margin-top: 0.25em;
			padding: 0.5em 1em;

			a {
				color: $brightRed;
				text-decoration: none;

				&:hover {
					color: $mainWhite;
				}
			}
		}
	}

	.accord-info {
		h3 {
			margin-bottom: 0;
		}

		p {
			&.quoted {
				font-weight: 300;
				margin-left: 5%;
				margin-right: 5%;
			}
		}
/*
		.mission {
			margin: 0;
			padding: 0;
			text-align: center;
			width: 100%;

			img {
				margin: 0 auto;
				width: 80%;
			}
		}
*/
		.caption {
			color: $brightRed;
			font-size: 0.8em;
			text-align: center;

			&.poem {
				color: $mainWhite;
			}

			&.bigger {
				font-size: 1.5em;
				margin: 1em 0;
			}
		}

		.byline {
			margin-bottom: 2%;
			text-align: center;
			width: 100%;

			i {
				color: $brightRed;
				font-size: 0.6em;
				margin: 0 1%;
				vertical-align: middle;
			}
		}

		p {
			margin: 1% 0.5%;
		}

		.footer {
			align-items: center;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;

			div {
				margin-right: 1em;

				&:last-child {
					margin-right: 0;
				}
			}

			a {
				color: $brightRed;
				//display: inline-block;
				font-size: 1em;
				margin: 0.25em;
				padding: 0.3em 0.6em;
				width: 10em;

				i {
					display: inline-block;
					margin-right: 0.4em;
				}

				&:hover {
					color: $mainWhite;
				}
			}
		}

		.footer-link {
			margin: 0 auto;
			text-align: center;
			width: 90%;

			a {
				color: $brightRed;
				font-weight: 300;
				text-decoration: none;

				&:hover {
					color: $mainWhite;
					cursor: pointer;
				}
			}
		}
	}
}