// main styles
$mainWhite:rgb(242,236,235);
$brightRed:rgb(217,35,13);
$medRed:rgba(127,20,8,0.7);
$marroon:rgb(89,35,29);
$accentRed:rgb(166,27,10);

@import '_extensions';
@import '_building';
@import '_menu';
@import '_media-queries';
@import '_scoop';

body{
	background-attachment: fixed;
	background-color: #000;
	background-image: url("../images/bwBackground.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100vw auto;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.1em;
	letter-spacing: 0.07em;
	margin: 0;
	width: 99%;
	z-index: 1;
}

#mobile-back {
	background-attachment: fixed;
	background-image: url("../images/bwBackgroundProfile.png");
	background-size: cover;
	display: none;
	position: fixed;
	height: 100%;
	left: 0;
	top: 0;
	width: 100%;
	z-index: -1;
}

#no-JS {
	background-color: black;
	color: $mainWhite;
	height: 100vh;
	margin: 0;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 1500;

	img {
		margin: 4% auto 1% auto;
		height: 60vh;
	}
	.loc, .email {
		font-size: 0.8em;
	}
	.error {
		font-size: 1.6em;
		margin-top: 2%;
	}
}

input{
	color: $mainWhite;
}

.hidden{
	display: none !important;
	visibility: hidden;
}

.ext-link-button{

	a{
		border: 2px solid $brightRed;
		background-color: rgba(0,0,0,0.6);
		border-radius: 0.25em;
		color: $brightRed;
		cursor: pointer;
		font-size: 1.1em;
		letter-spacing: 0.1em;
		max-width: 18em;
		padding: 2%;
		text-decoration: none;
		transition: all 0.5s ease;

		&:hover{
			background-color: $medRed;
			border: 2px solid $medRed;
			color: $mainWhite;
		}

		span{
			color: $mainWhite;
			margin: 0;
		}

		i{ 
			font-size: 2em;
			line-height: 1.4em;
			margin-right: 2%;
			vertical-align: middle;
		}
	}
}

.expand-arrow{
	cursor: pointer;
	margin-left: 1em;
	transition: 0.35s all ease;

	&.active {
		-webkit-transform: rotate(-180deg);
				-ms-transform: rotate(-180deg);
				 -o-transform: rotate(-180deg);
						transform: rotate(-180deg);
	}
}

.line{
	background-color: $brightRed;
	height: 2px;
	margin: 0 auto 2% 0;
	width: 100%;

	&.thin{
		background-color: $mainWhite;
		height: 1px;
		margin: 0 auto 0 0;
		width: 90%;
	}
}

header{
	color: $mainWhite;
	font-weight: 300;
	margin: 12% auto;
	text-align: center;

	h1{
		text-transform: uppercase;

		img{
			height: 10em;
		}
	}

	.anchor {
		color: $mainWhite;
		text-decoration: none;

		i {
			font-size: 2em;
		}
	}
}

.container{
	background-color: rgba(0,0,0,0.7);
	border: 1px solid rgba(0,0,0,0);
	color: $mainWhite;
	margin: 0;
	margin-left: 10%;
	padding: 2% 4%;

	.section-title{
		letter-spacing: 0.08em;
		margin: 0;
		text-transform: lowercase;

		&.info-title {
			cursor: pointer;
		}
	}

	p{
		margin: 0.5% 0;
		padding: 0;
	}
}

.about-container{
	flex-wrap: wrap;

	h4{
		letter-spacing: 0.08em;
		margin: 0;
	}

	.subsection{
		margin-bottom: 2%;
	}

	.intro{
		margin-right: 2%;
	}

	.note {
		font-size: 0.8em;
	}

	.updates{
		margin-top: 2em;
		width: 50%;

/*
		.events{
			div{ 
				vertical-align: center;
			}

			i{ 
				color: $brightRed;
				font-size: 0.5em;
				line-height: 2.5em;
				margin: 0 1%;
				vertical-align: top;
			}
		}*/

		.building-link{

			@extend .ext-link-button;

			a {
				display: block;
				margin: 1.5% 0;
				height: 2em;
				vertical-align: top;

				i {
					font-size: 1.5em;
				}
			}
		}
	}

	.sermons {
		text-align: center;

		@extend .ext-link-button;

		&:first-child {
			margin-top: 3%;

			a {
				vertical-align: top;
			}
		}

		a {
			display: block;
			margin: 1.5% 0;
			height: 2em;
			vertical-align: center;

			i {
				font-size: 1.5em;
			}
		}
	}

}

.events-container {
	.event-banner {
		height: auto;
		margin: 1em auto;
		max-width: 100%;
		text-align: center;

		img {
			height: auto;
			margin: 0 auto;
			max-width: 100%;
		}
	}

	h4 {
		margin: 0;
	}

	.events-sect {
		@extend .flex;
		letter-spacing: 0.15em;
		margin-top: 1em;
		text-align: left;
		border-collapse: collapse;

		tr {
			border-bottom: 1px solid $brightRed;
			margin: 0;
			padding: 0;

			&:last-child {
				border-bottom: 0px solid black;
			}
		}
	}

	i {
		color: $brightRed;
		margin: 1em 0;		

		&.fa-circle {
			
			font-size: 0.5em;
			vertical-align: top;
		}

		&.fa-calendar {
			margin: 0 0.5em;
		}
	}

	.event-btn {
		font-size: 0.8em;
		margin-top: 2em;
		text-align: center;

		i {
			font-size: 1em;
			transition: 0.5s ease all;

			&.fa-facebook-square {
				margin: 0 0.3em 0 0.2em;
			}
		}

		a {
			padding: 0.5em;
		}

		&:hover {
			color: $brightRed;
			cursor: pointer;

			i {
				color: $mainWhite;
			}
		}	
	}
}

#calendar-popOver {
	background-color: rgba(0,0,0,0.6);
	height: 100vh;
	left: 0;
	position: fixed;
	top: 0;
	text-align: center;
	width: 100%;

	#close-cal {
		left: 60%;
		position: fixed;

		i {
			font-size: 2em;

			&:hover {
				color: $brightRed;
				cursor: pointer;
			}
		}
	}

	iframe {
		margin: 6% 0;
	}
}

.theology{
	h4{
		cursor: pointer;
		margin: 0;
		text-transform: lowercase;
	}

	.video-cont{
		margin: 0 auto;
		text-align: center;
		width: 100%;

		iframe {
			max-width: 100%;
			min-height: 250px;
			height: auto;
		}
	}

	.thin{
		width: 100%;
	}

	.row{
		margin: 0 auto 2% auto;
		width: 90%;

		.mission {
			display: flex;
			align-content: center;
			align-items: center;
			justify-content: center;
			margin: 2% auto 0 auto;
			padding: 0;
			
			img {
				height: auto;
				margin: 0;
				max-width: 100%;
				padding: 0;
				width: 40em;
			}
		}

		li{ 
			color: $brightRed;
			margin-bottom: 2.5%;

			span{
				color: $mainWhite;
			}
		}

		.list-container.flex{
			align-content: flex-start;
			flex-wrap: wrap;
			width: 100%;

			.list-item{
				width: 100%;

				&.sub {
					list-style-type: none;
					margin-left: -3%;
				}
			}
		}
	}
}

#staff{
	max-width: 100%;

	.expand-arrow {
		img {
			height: 1.6em;
			vertical-align: top;
			width: auto;
		}
	}
}


.person-container{
	//border: 1px solid red;
	color: $mainWhite;
	cursor: pointer;
	font-size:0.9em;
	margin: 1%;
	padding: 0;
	text-align: center;
	width: 13%;

	.person-name{
		height: 3em;
		vertical-align: top;
	}

	img{
		height: auto;
		margin: 0;
		margin-bottom: 5%;
		width: 100%;
	}

	.popup {
		background-color: rgba(0,0,0,0.5);
		cursor: auto;
		height: 100vh;
		left: 0;
		position: fixed;
		top: 0;
		width: 100vw;
		z-index: 1000;

		.pop-inside {
			align-items: flex-start;
			background-color: $mainWhite;
			border-radius: 0.5em;
			color: #000;
			height: 88vh;
			margin: 2vh auto;
			max-height: 88vh;
			padding: 2%;
			width: 85%;

			.person-name {
				font-size: 2em;
				height: auto;
			}

			.job-title{
				font-size: 1.5em;
				margin: 1% auto;
			}

			.close {
				font-size: 2em;
				top: 3%;
				right: 6%;
				position: fixed;
				cursor: pointer;
				z-index: 1000;

				&:hover{
					color: $brightRed;
				}
			}

			.desc-cont {
				max-height: 73vh;
				overflow-y: auto;
			}

			.person-descr {
				font-size: 1.1em;
				text-align: left;

				h4 {
					margin-bottom: 0.5em;
				}

				a {
					text-decoration: none;
				}
			}

			.email {
				margin-top: 0.5em;
				margin-bottom: 0.7em;

				i {
					margin-right: 0.5em;
				}
			}

			.col {
				margin: 2%;
				width: 50%;
			}

			.profile-img {
				align-items: center;
				align-content: center;
				display: flex;
				height: 75vh;
				padding: 0;

				img {
					height: auto;
					max-height: 100%;
					margin: 0 auto;
					max-width: 100%;
					width: auto;
				}
			}

			a {
				color: #000;

				&:hover{
					color: $brightRed;
				}

				i {
					font-size: 1.8em;
					margin: 0 2%;
				}
			}
		}
	}
}

.map-container{
	margin-bottom: 2%;

	.google-map{
		height: 200px;
	}
}

.footer {
	color: darken(#fff, 50%);
	margin: 5% 0 0 0;
	text-align: center;
	width: 100%;

	a {
		color: darken(#fff, 50%);
		text-decoration: none;

		&:hover {
			color: $mainWhite;
		}
	}
}

/*
,
		{
			"name":"",
			"pic":"",
			"title":"Staff",
			"contact":{
		    "email": "",
		  	"twitter": "",
		  	"facebook": ""
		  },
		  "description":"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas alias fugiat eaque magni accusantium explicabo reiciendis quod rerum aliquid, eligendi quidem harum saepe praesentium distinctio ipsam eum voluptate veritatis illum?",
		  "donateLink":""
		}
*/

@import '_media';