// main styles
@import '_extensions';

$mainWhite:rgb(223,209,207);
$brightRed:rgb(217,35,13);
$medRed:rgb(127,20,8);
$marroon:rgb(89,35,29);
$accentRed:166,27,10;

body{
	background-image: url("../images/bwBackground.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100vw auto;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	width: 99%;
}

.hidden{
	display: none;
}

header{
	color: $mainWhite;
	font-weight: 300;
	margin: 24% auto;
	text-align: center;

	h1{
		text-transform: uppercase;
	}
}

.container{
	background-color: $mainWhite;
	margin: 0;
	margin-left: 10%;
}

.about-container{
	flex-wrap: wrap;

	.intro{
		margin-right: 2%;
		width: 70%;
	}
}

.staff-container{
	background-color: $medRed;
	max-width: 100%;
}


.person-container{
	//border: 1px solid red;
	color: $mainWhite;
	cursor: pointer;
	font-size:0.9em;
	margin: 1%;
	padding: 0;
	text-align: center;
	width: 13%;

	img{
		height: auto;
		margin: 0;
		margin-bottom: 5%;
		width: 100%;
	}

	.popup{
		background-color: rgba(0,0,0,0.5);
		position: fixed;
		top: 0;
		width: 100vw;

		img{
			width: 30em;
		}
	}
}
/*
,
		{
			"name":"",
			"pic":"",
			"title":"Staff",
			"contact":{
		    "email": "",
		  	"twitter": "",
		  	"facebook": ""
		  },
		  "description":"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas alias fugiat eaque magni accusantium explicabo reiciendis quod rerum aliquid, eligendi quidem harum saepe praesentium distinctio ipsam eum voluptate veritatis illum?",
		  "donateLink":""
		}
*/

