<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Scum of the Earth Church</title>

	<!-- Fonts -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

	<!-- Styles -->
	<link rel="stylesheet" href="styles/styles.css">

	<!-- Google Maps API -->
	<script src="//maps.googleapis.com/maps/api/js"></script>

	<!-- External Libraries -->
	<script src="./scripts/libraries/angular.js"></script>
	<script src="./scripts/libraries/ng-maps.min.js"></script>
	<script src="./scripts/libraries/angular-animate.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>	
</head>
<body ng-app="scummyApp">
	<div id="mobile-back"></div>

	<div id="no-JS">
		<img src="images/logo1.png" alt="Scum of the Earth Church logo" class="logo">
		<div class="loc">935 W 11th Ave, Denver, CO 80204</div>
		<div class="email"><i class="fa fa-envelope"></i>info@scumoftheearth.net</div>
		<div class="error">
			Sorry, you need to enable JavaScript to view this website
		</div>
	</div>
	<!-- Pure CSS Menu based on codepen by FloSchli -->
	<input type="checkbox" id="menu-switch">
	<nav id="menu" role="navigation">
		<div class="brand"><img src="images/skullmelt.png" alt="melting skull logo image decoration"></div>
		<ul>
			<li id="scum-nav"><a href="#scum-about">Scum</a></li>
			<div class="line"></div>
			<li id="events-nav"><a href="#events">Events</a></li>
			<div class="line"></div>
			<li id="theology-nav"><a href="#theology">Who We Are</a></li>
			<div class="line"></div>
			<li id="scoop-nav"><a href="#scoop" id="scoop-link">The Scoop</a></li>
			<div class="line"></div>
			<li id="staff-nav"><a id="staff-link" href="#staff">Staff</a></li>
		</ul>
	</nav>

	<div class="page-wrap" ng-controller="dataCtrl as jsonData">
		<label for="menu-switch" id="menu-toggle"><i class="fa fa-bars"></i><i class="fa fa-times"></i></label>

		<header>
		<a class="anchor" href="#scum-about">
			<h1><img src="images/logo1.png" ng-src="{{ jsonData.data.logo }}" alt="Scum of the Earth Church logo"></h1>
			<h3>Denver, CO</h3>
			<i class="fa fa-angle-double-down"></i>
		</a>
		</header>

		<div class="about-container container flex-col" id="scum-about">
			<div class="col intro">
			  <h3 class="section-title">{{ jsonData.data.name }}</h3>
			  <div class="line"></div>
			  <p>" {{ jsonData.data.about.verse[0] }} "</p>
			  <p>{{ jsonData.data.about.verse[1] }}</p>
			</div>
			<div class="col updates">
				<div class="services subsection">
					<h4>service times</h4>
					<div class="line thin"></div>
					<div ng-repeat="line in jsonData.data.about.services">
						<p ng-class='{serv:$first}'>{{ line }}</p>
					</div>
				</div>

				<div class="sermons">
					<a ng-href="{{ jsonData.data.about.sermons }}">
						<i class="fa fa-soundcloud"></i>
						<span>Sermons on Soundcloud</span>
					</a>
				</div>

				<div class="sermons">
					<a href="{{ jsonData.data.about.sermonsitunes }}">
						<i id="apple" class="fa fa-apple"></i>
						<span>Sermons on iTunes</span>
					</a>
				</div>

				<div class="building-link">
					<a href="./buildingReq.html">
						<i class="fa fa-home"></i>
						<span>Building Use Request Form</span>
					</a>
				</div>

			</div>
			<div class="col location-stuff">
			  
			  	<div ng-controller="mapCtrl as mapper" class="map-container">
			  		<map ng-transclude class="google-map" center="map.center" options="map.options">
							<marker position="marker.position" decimals="marker.decimals" options="marker.options"></marker>
			  		</map>
			  	</div>

			  <p>{{ jsonData.data.about.contact.address }}</p>
				<p>{{ jsonData.data.about.contact.email }}</p>
			  <p>{{ jsonData.data.about.contact.phone | phoneFilter }}</p>
			  <p>{{ jsonData.data.about.contact.prayer }}</p>
			  <p class="contact-links">
			  	<a ng-href="{{ jsonData.data.about.contact.donateLink }}"><i class="fa fa-cc-paypal"></i></a>
					<a ng-href="{{ jsonData.data.about.contact.facebook }}"><i class="fa fa-facebook-square"></i></a>
			  </p>
			  <p></p>
			</div>
	  </div>

		<div class="container events-container" id="events">
			<h3 class="section-title">Stuff We Do Together</h3>
			<div class="line"></div>

			<div class="event-banner">
				<img src="https://dl.dropboxusercontent.com/s/s6vm8b2a2sfwfju/eventBanner.png?dl=0" alt="upcoming events at Scum banner">
			</div>

			<h4 class="info-title">upcoming events</h4>
			<div class="line thin"></div>

			<table class="events-sect">
				<tr class="events-row" ng-repeat="event in jsonData.events | limitTo: 7">
						<td><span class="e-date">{{ event.start | date:'EEE M/d' }}</span></td>
						<td><i class="fa fa-circle"></i></td>
						<td><span class="e-summary">{{ event.summary }}</span></td>
				</tr>
			</table>

			<div class="ext-link-button event-btn" id="full-cal-link"><a><i class="fa fa-calendar"></i>show full calendar</a></div>

			<div class="ext-link-button event-btn"><a ng-href="{{jsonData.data.about.contact.facebook}}"><i class="fa fa-facebook-square"></i>events on our facebook</a></div>

			<div id="calendar-popOver">
				<div id="close-cal"><i class="fa fa-times"></i></div>
				<iframe src="https://calendar.google.com/calendar/embed?mode=AGENDA&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=110sbm0g29jdkjmkgkb631s6jk%40group.calendar.google.com&amp;color=%2328754E&amp;ctz=America%2FDenver" style="border-width:0" width="300" height="500" frameborder="0" scrolling="no"></iframe>
			</div>
		</div>

	  <div class="container theology" id="theology">
			<h3 class="section-title">Who We Are</h3>
			<div class="line"></div>

			<div class="flex">
				<div class="row">
					<div class="video-cont">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/WRsWIuRvyWI" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>

				<div class="row gif-container">
					<img src='images/MSTranspBG.gif' alt="mission statement gif: Scum of the Earth Church is an Outpost on the Perimeter of God's Kingdom finding redemption in Jesus Christ" />
				</div>

				<div class="row">
					<h4 class="info-title">
						Why "Scum"?
						<i class="fa fa-angle-down expand-arrow"></i>
					</h4>
					<div class="line thin"></div>

					<div class="accord-info">
						<div>{{ jsonData.data.theology.whyScum }}</div>
					</div>
				</div>

				<div class="row">
					<h4 class="info-title">
						Mission Statement
						<i class="fa fa-angle-down expand-arrow"></i>
					</h4>
					<div class="line thin"></div>

					<ul class="accord-info list-container flex" ng-repeat="item in jsonData.data.theology.mission">
						<li ng-class='{sub:$first}' class="list-item"><span>{{ item }}</span></li>
					</ul>
				</div>

				<div class="row vision">
					<h4 class="info-title">
						Vision Statement
						<i class="fa fa-angle-down expand-arrow"></i>
					</h4>
					<div class="line thin"></div>

					<div class="accord-info list-container flex article">
						<p>{{jsonData.data.theology.vision.article[0]}}</p>

						<div class="vision-img"><img ng-src="{{ jsonData.data['mission-img'] }}" alt="scum of the earth church mission statement: Scum of the Earth Church is an outpost on the perimeter of God's kingdom finding redemption in Jesus Christ"></div>
						<div class="caption">{{jsonData.data.theology.vision.caption}}</div>

						<div ng-repeat="paragraph in jsonData.data.theology.vision.article" ng-class="{'hidden':$last}" ng-if="$index>=1">
							<p>{{ paragraph }}</p>
						</div>

						<p class="footer"><a ng-href="http://www.ivpress.com/cgi-ivpress/book.pl/code=3629">{{jsonData.data.theology.vision.article[6]}}</a></p>
					</div>
				</div>

				<div class="row">
					<h4 class="info-title">Faith
						<i class="fa fa-angle-down expand-arrow"></i>
					</h4>
					<div class="line thin"></div>

					<ul class="accord-info list-container flex" ng-repeat="item in jsonData.data.theology.faith">
						<li><span>{{ item }}</span></li>
					</ul>
				</div>
			</div>
	  </div>

	  <div class="container" id="scoop">
	  	<h3 class="info-title section-title">
	  		The Inside Scoop
	  		<i class="fa fa-angle-down expand-arrow"></i>
	  	</h3>
	  	<div class="line"></div>

	  	<h4>
	  		{{ jsonData.data.scoop.title }}
				<div class="btn">
					<a href="http://thescoopatscum.blogspot.com/">go to archives</a>
				</div>
	  	</h4>

	  	<div class="accord-info flex">
	  		<h3>{{ jsonData.data.scoop.newest.subtitle }}</h3>
	  		<div class="line thin"></div>

	  		<div class="byline">
	  			<span class="author">{{ jsonData.data.scoop.newest.author }}</span>
	  			<i class="fa fa-circle"></i>
	  			<span class="pub-date">{{ jsonData.data.scoop.newest.date | date: shortDate }}</span>
	  		</div>

	  		<div class="article">
<!--
					// if needed for below p: ng-class="{'hidden': $last}" ng-if="$index >= 1" 
-->
					<p class="caption">
						{{jsonData.data.scoop.newest.article[0]}}
					</p>

	  			<p ng-repeat="paragraph in jsonData.data.scoop.newest.article track by $index" ng-if='$index>=1' ng-class="{'hidden': $index>=22,'space-before':$index===1}">
					{{ paragraph }}
					</p>

					<p ng-repeat="paragraph in jsonData.data.scoop.newest.article track by $index" ng-if='$index>=22' ng-class="{'space-before':$index==22,'hidden':$index==39}">
						{{ paragraph }}
					</p>

					<p class="space-before">
						{{jsonData.data.scoop.newest.article[39]}}
					</p>

					<!--
					<div class="img-div">
						<img ng-src='{{jsonData.data.scoop.newest.images[0]}}' alt="Naomi Chamberlain, intern, on mountaintop" />
					</div>-->
				  
	  		</div>
	  	</div>
	  </div>

	  <div class="container" id="staff">
			<h3 class="info-title section-title" >
				Staff
				<i class="fa fa-angle-down expand-arrow"></i>
			</h3>
			<div class="line"></div>

			<div class="accord-info flex">
				<div class="person-container col" ng-repeat="person in jsonData.data.staff" id="{{ person.id }}" data="{{ person.id }}" ng-click="jsonData.popOver(person.id)">
					
					<div ng-init="itemsrc=person.pic" ng-mouseover="itemsrc=person.picColor" ng-mouseout="itemsrc=person.pic">
						<img class="person-thumb" ng-src="{{itemsrc}}">
					</div>

					<div class="person-name">{{ person.name }}</div>
					
					<div class="popup hidden">
						<div class="pop-inside flex-col">
							<div class="col col-top">
								<div class="person-name">{{ person.name }}</div>
								<div class="job-title">{{ person.title }}</div>
								<div class="desc-cont">
									<div class="person-descr" ng-repeat="info in person.description">
										<h4>{{ info.subtitle }}</h4>
										<p>{{ info.answer }}</p>
										<p><a ng-href="{{ info.link }}">{{ info.linkText }}</a></p>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="close" ng-click="jsonData.close(); $event.stopPropagation();"><i class="fa fa-times"></i></div>
								<div class="profile-img">
									<img ng-src="{{ person.picColor }}">
								</div>
								<div class="contact-container">
									<div ng-show="person.contact.email" class="email"><i class="fa fa-envelope"></i>{{ person.contact.email }}</div>
									<a ng-show="person.contact.twitter" ng-href="{{ person.contact.twitter }}"><i class="fa fa-twitter"></i></a>
									<a ng-show="person.contact.facebook" ng-href="{{ person.contact.facebook }}"><i class="fa fa-facebook"></i></a>
									<a ng-show="person.contact.instagram" ng-href="{{ person.contact.instagram }}"><i class="fa fa-instagram"></i></a>

									<a ng-href="{{ person.donateLink }}"><i class="fa fa-cc-paypal"></i></a>
								</div>
							</div>
						</div>
					</div>

		  	</div>
		  </div>
 	
 			<div class="footer">
 				<span class="footer-copy">2016</span>
				|
				<span class="footer-credit">
					<a href="http://inkblotty.github.io/">Katie Foster</a>
				</span>
			</div>
 		</div>

  </div>	
	<script type="text/javascript" src="./scripts/app.js"></script>
</body>
</html>