<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Scum of the Earth Church</title>

	<!-- Fonts -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

	<!-- Styles -->
	<link rel="stylesheet" href="styles/styles.css">

	<!-- Google Maps API -->
	<script src="//maps.googleapis.com/maps/api/js"></script>

	<!-- External Libraries -->
	<script src="./scripts/libraries/angular.js"></script>
	<script src="./scripts/libraries/ng-maps.min.js"></script>
	<script src="./scripts/libraries/angular-animate.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>	
</head>
<body ng-app="scummyApp">
	<!-- Pure CSS Menu based on codepen by FloSchli -->
	<input type="checkbox" id="menu-switch">
	<nav id="menu" role="navigation">
		<div class="brand"><img src="images/skullmelt.png" alt="melting skull logo image decoration"></div>
		<ul>
			<li id="scum-nav"><a href="#scum-about">Scum</a></li>
			<div class="line"></div>
			<li id="events-nav"><a href="#events">Events</a></li>
			<div class="line"></div>
			<li id="theology-nav"><a href="#theology">Who We Are</a></li>
			<div class="line"></div>
			<li id="staff-nav"><a href="#staff">Staff</a></li>
		</ul>
	</nav>

	<div class="page-wrap" ng-controller="dataCtrl as jsonData">
		<label for="menu-switch" id="menu-toggle"><i class="fa fa-bars"></i><i class="fa fa-times"></i></label>

		<header>
			<h1><img ng-src="{{ jsonData.data.logo }}" alt="Scum of the Earth Church logo"></h1>
			<h3>Denver, CO</h3>
			<a href="#scum-about"><i class="fa fa-angle-double-down"></i></a>
		</header>

		<div class="about-container container flex-col" id="scum-about">
			<div class="col intro">
			  <h3 class="section-title">{{ jsonData.data.name }}</h3>
			  <div class="line"></div>
			  <p>" {{ jsonData.data.about.verse[0] }} "</p>
			  <p>{{ jsonData.data.about.verse[1] }}</p>
			</div>
			<div class="col updates">
				<div class="services subsection">
					<h4>service times</h4>
					<div class="line thin"></div>
					<p>{{ jsonData.data.about.services }}</p>
				</div>

				<div class="sermons">
					<a ng-href="{{ jsonData.data.about.sermons }}">
						<i class="fa fa-soundcloud"></i>
						<span>Sermons on Soundcloud</span>
					</a>
				</div>

				<div class="building-link">
					<a href="./buildingRequest.html">
						<i class="fa fa-home"></i>
						<span>Building Use Request Form</span>
					</a>
				</div>

			</div>
			<div class="col">
			  
			  	<div ng-controller="mapCtrl as mapper" class="map-container">
			  		<map ng-transclude class="google-map" center="map.center" options="map.options">
							<marker position="marker.position" decimals="marker.decimals" options="marker.options"></marker>
			  		</map>
			  	</div>

			  <p>{{ jsonData.data.about.contact.address }}</p>
				<p>{{ jsonData.data.about.contact.email }}</p>
			  <p>{{ jsonData.data.about.contact.phone | phoneFilter }}</p>
			</div>
	  </div>

		<div class="container events-container" id="events">
			<h3 class="section-title">Stuff We Do Together</h3>
			<div class="line"></div>

			<div class="event-banner">
				img from dropbox for upcoming events banner
			</div>

			<div ng-repeat="event in jsonData.events | limitTo: 7">
				<div class="events-row">
					{{ event.start | date:'EEE M/d' }}
					<i class="fa fa-circle"></i>
					<span>{{ event.summary }}</span>
				</div>
			</div>

			<div id="full-cal-link"><i class="fa fa-calendar"></i>show full calendar</div>

			<div id="calendar-popOver" class="hidden">
				<div id="close-cal"><i class="fa fa-times"></i></div>
				<iframe src="https://calendar.google.com/calendar/embed?title=Scum%20Calendar&amp;mode=AGENDA&amp;height=500&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=scumbuilding%40gmail.com&amp;color=%23711616&amp;src=7bpctqnli3peuuei5296jkd478%40group.calendar.google.com&amp;color=%232952A3&amp;src=sk3n18eq24gpok6q4o2a5oggos%40group.calendar.google.com&amp;color=%232952A3&amp;src=ob5avhhlq0eiaena8jd2bl3vck%40group.calendar.google.com&amp;color=%23182C57&amp;src=obdcr78ocf86ndd2jc6bgeaj1g%40group.calendar.google.com&amp;color=%235F6B02&amp;src=mhgs3v4viifdddbp3kml3ufpic%40group.calendar.google.com&amp;color=%2342104A&amp;ctz=America%2FDenver" style="border-width:0" width="300" height="500" frameborder="0" scrolling="no"></iframe>
			</div>
		</div>

	  <div class="container theology" id="theology">
			<h3 class="section-title">Who We Are</h3>
			<div class="line"></div>

			<div class="flex">
				<div class="row">
					<div class="video-cont">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/WRsWIuRvyWI" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>

				<div class="row">
					<h4>
						Why Scum?
						<i class="fa fa-angle-down expand-arrow" ng-click="jsonData.toggleVis('whyScum')"></i>
					</h4>
					<div class="line thin"></div>

					<div class="animate-show" ng-show="jsonData.visible.whyScum"><p>{{ jsonData.data.theology.whyScum }}</p></div>
				</div>

				<div class="row">
					<h4>
						We strive to be a church who...
						<i class="fa fa-angle-down expand-arrow" ng-click="jsonData.toggleVis('weStrive')"></i>
					</h4>
					<div class="line thin"></div>

					<ul class="list-container flex animate-show" ng-repeat="item in jsonData.data.theology.mission" ng-show="jsonData.visible.weStrive">
						<li class="list-item"><span>{{ item }}</span></li>
					</ul>
				</div>

				<div class="row">
					<h4>Faith
						<i class="fa fa-angle-down expand-arrow" ng-click="jsonData.toggleVis('faith')"></i>
					</h4>
					<div class="line thin"></div>

					<ul class="list-container flex animate-show" ng-repeat="item in jsonData.data.theology.faith" ng-show="jsonData.visible.faith">
						<li><span>{{ item }}</span></li>
					</ul>
				</div>
			</div>
	  </div>

	  <div class="container" id="staff">
			<h3 class="section-title" >
				Staff
				<i class="fa fa-angle-down expand-arrow" ng-click="jsonData.toggleVis('staff')"></i>
			</h3>
			<div class="line"></div>

			<div class="flex">
				<div ng-show="jsonData.visible.staff" class="person-container col" ng-repeat="person in jsonData.data.staff" id="{{ person.id }}" data="{{ person.id }}" ng-click="jsonData.popOver(person.id)">
					
					<div ng-init="itemsrc=person.pic" ng-mouseover="itemsrc=person.picColor" ng-mouseout="itemsrc=person.pic">
						<img class="person-thumb" ng-src="{{itemsrc}}">
					</div>

					<div class="person-name">{{ person.name }}</div>
					
					<div class="popup hidden">
						<div class="pop-inside flex-col">
							<div class="col col-top">
								<div class="person-name">{{ person.name }}</div>
								<div class="job-title">{{ person.title }}</div>
								<div class="desc-cont">
									<div class="person-descr" ng-repeat="info in person.description">
										<h4>{{ info.subtitle }}</h4>
										<p>{{ info.answer }}</p>
										<p><a ng-href="{{ info.link }}">{{ info.linkText }}</a></p>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="close" ng-click="jsonData.close(); $event.stopPropagation();"><i class="fa fa-times"></i></div>
								<div class="profile-img">
									<img ng-src="{{ person.picColor }}">
								</div>
								<div class="contact-container">
									<div ng-show="person.contact.email" class="email"><i class="fa fa-envelope"></i>{{ person.contact.email }}</div>
									<a ng-show="person.contact.twitter" ng-href="{{ person.contact.twitter }}"><i class="fa fa-twitter"></i></a>
									<a ng-show="person.contact.facebook" ng-href="{{ person.contact.facebook }}"><i class="fa fa-facebook"></i></a>
									<a ng-show="person.contact.instagram" ng-href="{{ person.contact.instagram }}"><i class="fa fa-instagram"></i></a>
									<a ng-href="{{ person.donateLink }}"><i class="fa fa-paypal"></i></a>
								</div>
							</div>
						</div>
					</div>

		  	</div>
		  </div>
		</div>

  </div>	
	<script type="text/javascript" src="./scripts/app.js"></script>
</body>
</html>